<html>
<head>
<title>Page Title</title>
 <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script></head>
<script src="js/ngcontroller.js"></script>
<body>
  <div ng-app="myModule">

      <div ng-controller="countryController">

        <div ng-repeat="country in records | filter:search | orderBy:'age'" >

          <p>{{country.country | uppercase }} </p>

        </div>
      </div>





    </div>
</body>
</html>
