<% layout('layout') -%>


<!-- Main jumbotron for a primary marketing message or call to action -->
<div class="jumbotron" id="navbar-gap">
  <div class="container">
    <h1 class="btn btn-primary btn-lg"> Cutural Dimensions and Implications</h1>
  </div>
</div>

<div class="container">
  <!-- Example row of columns -->
  <div class="row">
    <div class="col-md-4">
      <h3>Uncertainty
Avoidance

</h3>

<br />
<br />


<p class="btn btn-danger btn-lg" style="font-size:60;">HIGH</p>
<br />
<br />
<p class="text-info">When it is high it can affect adoption rate of unfamiliar projects
</p>
    </div>
    <div class="col-md-4">

      <h3>Power Distance
</h3>
      <br />
      <br />

      <p class="btn btn-info btn-lg" style="font-size:60;">HIGH</p>
      <br />
      <br />
      <p class="text-info">Structure of dispatching information and relationship  is hierarchical

      </p>

   </div>
    <div class="col-md-4">
      <h3>Masculinity

  </h3>
  <br />
  <br />
        <p class="btn btn-warning btn-lg" style="font-size:60;">LOW</p>
        <br />
        <br />
        <p class="text-info">The choose time with family over work and personal success.

        </p>
    </div>
  </div>

  <br />
  <br />
