<% layout('layout') -%>



<!-- Main jumbotron for a primary marketing message or call to action -->
<div class="jumbotron" id="navbar-gap">
  <div class="container">
    <h1> Get Insight about a country of Interest</h1>
    <p>Starting point to know what project will fit a country</p>

    <div class="row">
      <div class="col-lg-8">




        <form method="post">

          <h1>  </h1>
          <div class="form-group">
            <label="name"> </label>
            <input type="text" class="form-control" placeholder="choose country" name="name">
          </div>
          <div class="form-group">
            <label="name">Project Name </label>
            <input type="text" class="form-control" placeholder="choose country" name="project">
          </div>
          <div class="form-group">
            <label="name">Project Keywords </label>
            <textarea type="text" class="form-control" placeholder="Project Keywords" name="Keywords">
            </textarea>
          </div>
<a href="/insight"><button type="submit" class="btn btn-success btn-small">add more projects</button></a>




      </div>
    </div>
    <hr />
    <p class="btn btn-primary btn-large">Needs the project will meet</p>
    <div class="row">

      <div class="col-lg-6">

    <div class="checkbox">
  <label><input type="checkbox"> Nutrition and Basic Medical Care
</label>
  </div>
  <div class="checkbox">
  <label><input type="checkbox">Water and Sanitation
</label>
  </div><div class="checkbox">
  <label><input type="checkbox">Shelter</label>
  </div>
  <div class="checkbox">
  <label><input type="checkbox">Personal Safety
</label>
  </div>

  </div>

  <div class="col-lg-6">
  <div class="checkbox">
  <label><input type="checkbox">Access to Basic Knowledge
</label>
  </div>
  <div class="checkbox">
  <label><input type="checkbox"> Access to Information and Communications
</label>
  </div>
  <div class="checkbox">
  <label><input type="checkbox"> Health and Wellness
</label>
  </div>
  <div class="checkbox">
  <label><input type="checkbox">Environmental Quality
</label>
  </form>
  </div>
  </div>
  </div>

  <p class="btn btn-primary btn-large"> What resources will your project depend on
</p>
  <div class="row">

    <div class="col-lg-6">

  <div class="checkbox">
<label><input type="checkbox">Energy
</label>
</div>
<div class="checkbox">
<label><input type="checkbox">Water and Sanitation
</label>
</div><div class="checkbox">
<label><input type="checkbox">Internet</label>
</div>
<div class="checkbox">
<label><input type="checkbox">Gas/Fuel
</label>
<label><input type="checkbox">Others
</label>
</div>

</div>

<div class="col-lg-6">
<div class="checkbox">
<label><input type="checkbox">Access to Basic Knowledge
</label>
</div>
<div class="checkbox">
<label><input type="checkbox">Advanced Education
</label>
</div>
<div class="checkbox">
<label><input type="checkbox">Peace, Security, Stability
</label>
</div>
<div class="checkbox">
<label><input type="checkbox">Healthcare
</label>
</form>
</div>
</div>

</div>
<a href="/insight"><button type="submit" class="btn btn-success btn-large">Submit to Get Insights</button></a>
  </div>

</div>

<div class="container">
  <!-- Example row of columns -->
  <div class="row">
      <!--
    <div class="col-md-4">
      <h3>Start your search here</h3>
      <p>Signup to start Buying</p>
    </div>
    <div class="col-md-4">
      <h3>Look for Smart items?</h3>
      <p>These will appear across the site as you add to your cart</p>

   </div>
    <div class="col-md-4">
      <h3>Build a smart cart</h3>
      <p>The more smart items you buy together, the more you save :)</p>
    </div>-->
  </div>
