<% layout('layout') -%>


<!-- Main jumbotron for a primary marketing message or call to action -->
<div class="jumbotron" id="navbar-gap">
  <div class="container">
    <h1 class="btn btn-primary btn-lg"> Results from Analysis</h1>
  </div>
</div>

<div class="container">
  <!-- Example row of columns -->
  <div class="row">
    <div class="col-md-4">
      <h3>Probability to meet needs
</h3>
<br />
<br />
      <div id="gauge_div" style="width:280px; height: 140px;"></div>

    </div>
    <div class="col-md-4">

      <h3>Success Rate</h3>
      <br />
      <br />

      <h1 class="btn btn-primary btn-lg" style="font-size:60;">20%</h1>

   </div>
    <div class="col-md-4">
      <h3>Adoption Rate
  </h3>
        <div id="chart_div"></div>
    </div>
  </div>
<a href="/culture"><button type="submit" class="btn btn-success btn-large">More Insights</button></a>
